<!doctype html>
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert" align="center">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<html>

{% include "head.html" %}
<body onload="loadInit()">
<br>
<div class="container">
    <div class="row">
     <div class="dropdown col-sm-4">
    <button class="btn btn-primary dropdown-toggle" id="size" type="button" data-toggle="dropdown">Premade Grids
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">5</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">11</a></li>
    </ul>
  </div>

  <form action="/" method="post">
  <input type="hidden" name="size" id= "size_button" value= {{size}}>
   <button type="submit" class="btn btn-primary col-sm-4" align="right">Generate Grid</button>
</form> 
    
    <div class="col-sm-4" align="right"">
    <form method=post enctype=multipart/form-data action="/upload_grid" >
      <input type="file" name="file" style="float: left" />
   <input type="submit" value="Upload" class="btn btn-primary" align="right"/>
    </form>
  </div>

</div>
<br>
<div class="container">
    <h2 align="center" id="puzzle_title">Grid Visualizer: A*</h2>

</div>
<div class="container">
<div class="row">
<div id="loading" style="display: none;">
    <h3>Loading.</h3>
</div>
<div id="grid" align="center">

</div>
</div>

</div>

<div class="container"><h2>Solution Visualizer</h2></div>

<div id="exTab2" class="container"> 
<ul class="nav nav-tabs">
            <li class="active">
            <a href="#1" data-toggle="tab" value="default">A*</a></li>
            <li><a href="#2" data-toggle="tab" value="basic">Weighted A*</a></li>
            <li><a href="#3" data-toggle="tab" value="restart">Sequential Heuristic A*</a></li>
        </ul>

            <div class="tab-content ">
              <div class="tab-pane active" id="1">
          <h3>Puzzle Solution</h3>
          <p> Solution value: {{value}}
          <p>{{sol}}
                </div>

                <div class="tab-pane" id="2">
          <h3>Puzzle Solution</h3>
          Iterations
          <div class="row">
          <div class="col-xs-3">
            <div class="input-group number-spinner">
              <span class="input-group-btn data-dwn">
                <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
              </span>
              <input type="text" id = "iter2" + class="form-control text-center" value="50" min="1">
              <span class="input-group-btn data-up">
                <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
          </div>
          <input type="submit" value="Re-Solve" id = "basicButton" class="btn btn-primary" align="right"/>
        </div>
          <br>

          <div id=sol2>
          </div>

                </div>

        <div class="tab-pane" id="3">
          <h3>Solution 3</h3>
          Restarts
          <div class="row">
          <div class="col-xs-3">
            <div class="input-group number-spinner">
              <span class="input-group-btn data-dwn">
                <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
              </span>
              <input type="text" id = "iter3" + class="form-control text-center" value="50" min="1">
              <span class="input-group-btn data-up">
                <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
          </div>
        </div>
          Iterations Per Restart
          <div class="row">
          <div class="col-xs-3">
            <div class="input-group number-spinner">
              <span class="input-group-btn data-dwn">
                <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
              </span>
              <input type="text" id = "iter3val" + class="form-control text-center" value="50" min="1">
              <span class="input-group-btn data-up">
                <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
          </div>
          <input type="submit" value="Re-Solve" id = "restartButton" class="btn btn-primary" align="right"/>
        </div>



                    <div id=sol3>
          </div>

                </div>
            </div>
  </div>


</body>

<script>
   // Code used to set dropdown selected value
function setAktivMenu(text) {
   $('#size').val(text).html(function(i, html) {
       return text + html.slice(html.indexOf(' <'));
   });
}
  $('#size + .dropdown-menu').on('click', 'li>a', function() {
    $('#size_button').val($(this).text())
   setAktivMenu($(this).text());
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).text() // activated tab
  type = $(this).attr('value')
  $('#puzzle_title').text("Puzzle Visualizer: " + target)
  calcGrids()
})



setInterval(function() {
    if($('#loading h3').text() != "Error"){
        if(($('#loading h3').text().match(/\./g) || []).length > 2){
           $('#loading h3').text("Loading" + '.') 
        } else{
            $('#loading h3').text($('#loading h3').text() + '.')
        }
    }
}, 1000);
// EVERYTHING FROM HERE DOWN FOR GRID

    var rows = 120;
    var cols = 160;
    var width = (document.getElementById("grid").clientWidth )* 0.9;
    var height = width * rows / cols;

    var stage = new Konva.Stage({
        container: 'grid',
        width: width,
        height: height
    });

    var layer = new Konva.Layer();
    var rectX = stage.getWidth() / cols;
    var rectY = stage.getHeight() / rows;
    var posX = 0;
    var posY = 0;

    for(var i = 0; i < rows; i++) {
      for(j = 0; j < cols;j++){
        id = (i*cols + j).toString()
        var rect = new Konva.Rect({
            x: posX,
            y: posY,
            width: rectX,
            height: rectY,
            fill: 'white',
            stroke: 'black',
            strokeWidth: 1,
            id : id
        });
        layer.add(rect);
        posX += rectX;
      }
      posY += rectY;
      posX = 0;
    }

    stage.add(layer);

function loadGrid(gridName){
    var active_tab = $('.tab-content .active').attr('id');
    $("#grid").hide();
    $("#loading h3").text("Loading.")
    $("#loading").show();
    $.ajax({
    url: "/get_grid",
    type: "POST",
    data: JSON.stringify({grid_name: gridName, method: active_tab}),
    contentType: "application/json; charset=utf-8",
    success: function(data) { result = JSON.parse(data); 
        setGrid(result.grid)
        $('#' + active_tab + ' h3').text("Puzzle Solution")
        $("#loading").hide();
        $("#grid").show();
    },
    error: function(xhr, textStatus, errorThrown){
       $("#loading h3").text("Error");
    $('#' + active_tab + ' h3').text("Error")
    }
});
}

var init_grid = JSON.parse(he.decode('{{ init_data }}'))

function loadInit(){
  var grid = init_grid.grid
  var start = init_grid.start
  var end = init_grid.end
  setGrid(grid, start, end)
}

function setGrid(grid, start, end){
    var start = start[0] * cols + start[1]
    var end = end[0] * cols + end[1]
    console.log(start)
    console.log(end)
    for (i = 0;i < rows;i++){
      for(j = 0;j < cols;j++){
        var curr = i*cols + j
        var rect = stage.findOne('#' + (curr).toString())
        switch(grid[i][j]) {
          case 0:
            color = 'black'
            break
          case 2:
            color = 'yellow'
            break
          case 'a':
            color = 'blue'
            break
          case 'b':
            color = 'purple'
            break
          default:
            color = 'white'
        }
        if(curr == start){
          color = 'green'
        } else if(curr == end){
          color = 'red'
        }
        rect.setFill(color)
      }
    }
    layer.draw()
}

</script>
<html>